<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="w-screen h-screen flex bg-[#0F0E0E] text-white">
        @RenderBody()
    </div>
    @await Html.PartialAsync("~/Views/Shared/ConfirmDelete.cshtml")
</body>
</html>
