<div onclick="modalDetailToggle()" id="ModalDetail" class="fixed w-screen inset-0 hidden h-screen flex items-center justify-center z-[10] bg-[rgba(0,0,0,0.5)]">
    <div id="ModalDetailContent" class="bg-[#1e1e1e] text-white flex justify-center items-center gap-6 flex-col p-6 rounded-lg shadow-lg">
    </div>
</div>
<script src="~/js/ModalDetail.js" asp-append-version="true"></script>