@model CarFormatModel
@using Coba_Net.Utils
@{
    var value = Model.Key != "Detail" ? Model.Dictionary[Model.Key].ToString() : null;
    var formatter = new Formatter();
    var name = Model.Dictionary["Name"];
    var brand = Model.Dictionary["Brand"];
    var color = Model.Dictionary["Color"];
    var price = Model.Dictionary["Price"];
}

@if (Model.Key == "Price")
{
    <div>@formatter.FormatMoney(value)</div>
}
else if(Model.Key == "Detail")
{
    <button class="rounded-md bg-[#116D6E] p-2 px-4" onclick="viewCarDetail('@name','@brand','@color','@price')">Detail</button>
}
else
{
    <div>@value</div>
}