@model Login
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>
<body>
    <script src="https://cdn.tailwindcss.com"></script>
    <div class="h-screen w-screen flex bg-[#0F0E0E] text-white justify-center items-center">
        <form action="/User/Login" method="post" class="flex flex-col gap-4 rounded-xl w-full p-6 max-w-[400px]">
            <div class="w-full flex justify-center"><img alt="" src="/logo.png" class="w-[150px]" /></div>
            <div class="flex flex-col gap-2">
                <label for="Email" class="font-bold">Email:</label>
                <input name="Email" class='bg-[#4e4f3e] p-2 px-4 rounded-md' required>
            </div>
            <div class="flex flex-col gap-2">
                <label for="Password" class="font-bold">Password:</label>
                <input type="password" name="Password" class='bg-[#4e4f3e] p-2 px-4 rounded-md' required>
            </div>
            <span class='text-red-500 @(Model.ErrorMessage != null ? "" : "hidden")'>@(Model.ErrorMessage)</span>
            <div class="flex justify-center w-full">
                <button type="submit" class="bg-[#2D4263] w-full hover:scale-105 transition-all duration-300 p-3 mt-2 font-bold rounded-md">Login</button>
            </div>
        </form>
    </div>
</body>
