@model CarListView
@{

    ViewData["Title"] = "Car List";
    var headers = new[] { "Name", "Price", "Detail", "Action" };
    var keys = new[] { "Name", "Price", "Detail" };
    var tableProps = new TableProps {
        Headers = headers,
        Keys = keys,
        List = Model.Cars,
        UpdatePath = "/Car/Edit",
        DeletePath = "/Car/Delete",
        BodyFormatter = (key, dictionary) => {
            var model = new CarFormatModel{ Key = key, Dictionary = dictionary };
            return Html.DisplayFor(m => model, "CarFormat");
        }
    };
    var searchBarProps = new SearchBarProps {
        SearchValue = Model.Pagination.Search,
        SearchPath = "/Car/Index",
        ButtonPath = "/Car/Add",
        ButtonLabel = "Add Car",
        DownloadPath = "/Car/Download"
    };
    var paginationProps = new PaginationProps {
        Pagination = Model.Pagination,
        Path = "/Car/Index",
        Count = Model.Cars.Count
    };
    var fileError = ViewData.ModelState["file"]?.Errors?.FirstOrDefault()?.ErrorMessage;
}

<div class="flex flex-col gap-10 pb-10 h-full overflow-y-auto flex-1">
    <div class="flex w-full p-6 px-10 shadow-lg text-2xl font-bold bg-[#202020]">
        <span>Car List:</span>
    </div>

    <form action="/Car/Upload" method="post" enctype="multipart/form-data" class="w-full px-10 flex flex-col gap-4">
        <div class="flex gap-4 w-full sm:max-w-[200px]">
            <input type="file" name="file" id="fileInput" accept=".xlsx" class="hidden">
            <label for="fileInput" class="bg-[#2D4263] flex-1 justify-center w-[170px] cursor-pointer shadow-lg pr-6 flex items-center gap-2 shadow-lg p-3 hover:scale-105 transition-all duration-300 font-bold text-3xl rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                <span class="text-base">Add From File</span>
            </label>
            <button type="submit" id="saveButton" class="bg-[#116D6E] hidden px-6 text-base shadow-lg flex items-center gap-2 shadow-lg p-3 hover:scale-105 transition-all duration-300 font-bold text-3xl rounded-lg">
                Save
            </button>
        </div>
        <span class='@(fileError != null ? "" : "hidden") text-red-500'>@fileError</span>
    </form>
    
    @await Html.PartialAsync("~/Views/Shared/SearchBar.cshtml", searchBarProps)

    <div class="px-10 w-full">
        <div class="bg-[#1e1e1e] shadow-lg rounded-xl w-full overflow-x-auto">
            @if (Model.Cars.Count > 0)
            {
                @await Html.PartialAsync("~/Views/Shared/Table.cshtml", tableProps);
                @await Html.PartialAsync("~/Views/Shared/Pagination.cshtml", paginationProps);
            }
            else
            {
                @await Html.PartialAsync("~/Views/Shared/EmptyData.cshtml")
            }
        </div>
    </div>
</div>

<script src="~/js/Car.js" asp-append-version="true"></script>