@model CarListView
@{
    ViewData["Title"] = "Car List";
    var headers = new[] { "Name", "Brand", "Color", "Price", "Action" };
}

@await Html.PartialAsync("~/Views/Shared/Sidebar.cshtml")
<div class="flex flex-col gap-10 pb-10 h-full overflow-y-auto flex-1">
    <div class="flex w-full p-6 px-10 shadow-lg text-2xl font-bold bg-[#202020]">
        <span>Car List:</span>
    </div>

    @await Html.PartialAsync("~/Views/Shared/SearchBar.cshtml", new {
        SearchValue = Model.Pagination.Search,
        SearchPath = "/Car/Index",
        ButtonPath = "/Car/Add",
        ButtonLabel = "Add Car",
        DownloadPath = "/Car/Download"
    })

    <div class="px-10 w-full">
        <div class="bg-[#1e1e1e] shadow-lg rounded-xl w-full">
            @if (Model.Cars.Count > 0)
            {
                <table class="w-full">
                    <thead>
                        <tr>
                            @foreach (var header in headers)
                            {
                                <th class="p-3 text-lg">@header</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var car in Model.Cars)
                        {
                            var cars = new[] { car.Name, car.Brand, car.Color, car.Price.ToString() };
                            <tr>
                                @foreach (var body in cars)
                                {
                                    <td class="p-2 bg-[#1B2430] border-y-[2px] border-[#121212] text-center">@body</td>
                                }
                                @await Html.PartialAsync("~/Views/Shared/TableAction.cshtml", new {
                                    UpdatePath = "/Car/Edit",
                                    DeletePath = "/Car/Delete",
                                    IdData = car.Id
                                })
                            </tr>
                        }
                    </tbody>
                </table>
                @await Html.PartialAsync("~/Views/Shared/Pagination.cshtml", new {
                    Pagination = Model.Pagination,
                    Path = "/Car/Index",
                    Count = Model.Cars.Count
                });
            }
            else
            {
                @await Html.PartialAsync("~/Views/Shared/EmptyData.cshtml")
            }
        </div>
    </div>
</div>