@model CarListView
@using Coba_Net.Utils
@using Microsoft.AspNetCore.Html
@{

    ViewData["Title"] = "Car List";
    var headers = new[] { "Name", "Price", "Detail", "Action" };
    var keys = new[] { "Name", "Price", "Detail" };
    var tableProps = new TableProps {
        Headers = headers,
        Keys = keys,
        List = Model.Cars,
        UpdatePath = "/Car/Edit",
        DeletePath = "/Car/Delete",
        BodyFormatter = (key, dictionary) => {
            if(key == "Price")
            {
                var formatter = new Formatter();
                var value = dictionary[key].ToString();
                return new HtmlString($"<div>{formatter.FormatMoney(value)}</div>");
            }
            else if(key == "Detail")
            {
                var name = dictionary["Name"];
                var brand = dictionary["Brand"];
                var color = dictionary["Color"];
                var price = dictionary["Price"];
                return new HtmlString($"<button class=\"rounded-md bg-[#116D6E] p-2 px-4\" onclick=\"viewCarDetail('{name}','{brand}','{color}','{price}')\">Detail</button>");
            }
            else
            {
                var value = dictionary[key].ToString();
                return new HtmlString($"<div>{value}</div>");
            }
        }
    };
    var searchBarProps = new SearchBarProps {
        SearchValue = Model.Pagination.Search,
        SearchPath = "/Car/Index",
        ButtonPath = "/Car/Add",
        ButtonLabel = "Add Car",
        DownloadPath = "/Car/Download"
    };
    var paginationProps = new PaginationProps {
        Pagination = Model.Pagination,
        Path = "/Car/Index",
        Count = Model.Cars.Count
    };
}

@await Html.PartialAsync("~/Views/Shared/Sidebar.cshtml")
<div class="flex flex-col gap-10 pb-10 h-full overflow-y-auto flex-1">
    <div class="flex w-full p-6 px-10 shadow-lg text-2xl font-bold bg-[#202020]">
        <span>Car List:</span>
    </div>

    @await Html.PartialAsync("~/Views/Shared/SearchBar.cshtml", searchBarProps)

    <div class="px-10 w-full">
        <div class="bg-[#1e1e1e] shadow-lg rounded-xl w-full">
            @if (Model.Cars.Count > 0)
            {
                @await Html.PartialAsync("~/Views/Shared/Table.cshtml", tableProps);
                @await Html.PartialAsync("~/Views/Shared/Pagination.cshtml", paginationProps);
            }
            else
            {
                @await Html.PartialAsync("~/Views/Shared/EmptyData.cshtml")
            }
        </div>
    </div>
</div>

<script>
    function viewCarDetail(Name, Brand, Color, Price){
        const data = { Name, Brand, Color, Price: formatMoney(Price) };
        let content = '';
        Object.keys(data).forEach((key) => {
            content += `
                <div class="flex gap-2">
                    <div>${key}</div>
                    <div>:</div>
                    <div>${data[key]}</div>
                </div>`
            ;
        })
        content = `
            <div class="flex flex-col gap-4">${content}</div>
        `;
        modalDetailToggle(content);
    }
</script>