@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("~/Views/Shared/Sidebar.cshtml")
<div class="flex flex-col gap-10 pb-10 h-full overflow-y-auto flex-1">
    <div class="flex w-full p-6 px-10 shadow-lg text-2xl font-bold bg-[#202020]">
        <span>Home:</span>
    </div>
    <div class="px-10 w-full">
        <div class="bg-[#1e1e1e] shadow-lg rounded-xl w-full p-6">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
</div>
