@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("~/Views/Shared/Sidebar.cshtml")
<div class="text-center flex-1">
    <h1 class="display-4">Hello World</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
