@model Chart
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col gap-10 pb-10 h-full overflow-y-auto flex-1">
    <div class="flex w-full p-6 px-10 shadow-lg text-2xl font-bold bg-[#202020]">
        <span>Home:</span>
    </div>
    <div class="px-10 w-full flex flex-col gap-10">
        <div class="bg-[#1e1e1e] shadow-lg rounded-xl w-full p-6">
            <canvas id="barChart"></canvas>
        </div>
        <div class="bg-[#1e1e1e] shadow-lg rounded-xl w-full p-6">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
</div>
<script>
    var lineData = @Html.Raw(Json.Serialize(Model.LineData));
    var barData = @Html.Raw(Json.Serialize(Model.BarData));
</script>
<script src="~/js/Chart.js" asp-append-version="true"></script>